{% extends 'home/base.html' %}
{% load static %}

{% block nav %}
  {% include 'home/navbar.html' %}
{% endblock %}

<!-- gallery -->
{% block content %}
  {% if photos %}
    {% regroup photos by created_at|date:"d M, Y" as photos_by_day %}
      {% for group in photos_by_day %}
          <h5>Uploaded on <strong>{{ group.grouper }}</strong></h5>
          <hr>
          <div id="lightGallery" class="infinite-container">
            {% for photo in group.list %}
              <a class="infinite-item" href="{{ photo.photo.url }}" data-sub-html=".caption">
                <img class="img-thumbnail rounded" src="{{ photo.photo_size_240.url }}" />
                <div class="caption" style="display:none">
                  <p>{{photo.caption}}<br/>Uploaded on : {{photo.created_at|date}}</p>
                </div>
              </a>
            {% endfor %}
          </div>

    {% endfor %}
  {% else %}
    <p>No photo available.</p>
  {% endif %}

<!-- infinite loader -->
<div class="container">
  {% if photos.has_next %}
    <a class="infinite-more-link" href="?page={{ photos.next_page_number }}">More</a>
  {% endif %}
</div>

<div class="loading" style="display: none;">
  <p><strong>Loading...</strong></p>
</div>


<!-- scripts -->
<script>

$(document).ready(function(){

  var gallery = $('#lightGallery').lightGallery({
    subHtmlSelectorRelative: true,
    thumbnail:true,
    showThumbByDefault: false,
  });

   var infinite = new Waypoint.Infinite({
     element: document.querySelector('.infinite-container'),
     onBeforePageLoad: function () {
       $('.loading').show();
       $('#lightGallery').lightGallery({
         subHtmlSelectorRelative: true,
         thumbnail:true,
         showThumbByDefault: false,
       });
     },
     onAfterPageLoad: function ($items) {
       $('.loading').hide();
       gallery.data('lightGallery').destroy(true);
       gallery = $(".infinite-container").lightGallery({
         subHtmlSelectorRelative: true,
         thumbnail:true,
         showThumbByDefault: false,
       });
     }
   });
});

</script>

{% endblock %}
